<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images/Logo.png" alt="Logo" style="height: 30px; width: auto;" />
            Serwis samochodowy
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="car">
                <span class="oi oi-book" aria-hidden="true"></span> Auta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contractor">
                <span class="oi oi-book" aria-hidden="true"></span> Klienci
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="service">
                <span class="oi oi-book" aria-hidden="true"></span> Usługi
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="autoPart">
                <span class="oi oi-book" aria-hidden="true"></span> Części Samochodowe
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personel">
                <span class="oi oi-book" aria-hidden="true"></span> Personel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                <span class="oi oi-book" aria-hidden="true"></span> Zamówienia
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
